.password-box {
  display: flex;
  align-items: center;
}

.pop-up-text {
  padding: 0 1rem;
  padding-left: 7rem;
  display: flex;
  font-size: 12px;
  color: red;
}

.hidden {
  display: none;
}

label {
  padding: 1rem;
}

input::placeholder {
  text-align: center;
}

.emoji {
  padding-left: 1rem;
}
