section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 50px;
  font-weight: bold;
  white-space: pre;
}

span.correct {
  color: rgb(81 223 93);
}

span.wrong {
  color: red;
  text-decoration: underline black;
  text-underline-position: under;
}

span.current {
  text-decoration: underline black;
  text-underline-position: under;
}
